---
const { platform, username, url } = Astro.props;
---
<a rel="me" href={`https://${url}/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: black;
    background-color: white;
    text-decoration: none;
  }
</style>